
@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<h4 style="color: black;">@Html.ActionLink("Sales Report", "Sales", "Reports")</h4>
<h4 style="color: black;">@Html.ActionLink("Inventory Report", "Inventory", "Reports")</h4>

